html{
	margin: 0;
	height: 100%;
}
body{
    background-image:url(../images/fond_sous-marin.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
	height: auto;
}
#divtitre{
	justify-content: space-between;
	display:flex;
	width: 100%; 
	height:auto;
	position: absolute;
	bottom: 6%;
}

.text{
	color:white;
	font-size: 120px;
	font-family:Arial Black;
	padding-left:2%;
}

label1{
	width:70%;
}

bouton2{
	padding-right:2%;
	padding-bottom:2%;
	display:flex;
	width:19%;
}

.bouton2{
	align-self: flex-end;
	width:100%;
	height:12%;
	align-content:center;
	transition-duration: 0.5s;
	background-color: #fcbb00;
	border: 2px solid #fcbb00;
	border-radius: 45px;
}

.bouton2:hover{
	background-color: #06395a;
	border: 2px solid #06395a;
  cursor:pointer;
}

#bouton2{
	color:white;
	font-size: 100%;
	font-family:Arial Black;
}