@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html {
	background-color : #1AE2F9;
	font-family:Poppins;
	
}

.container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 50px;
    margin-top: 60px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 10px;
    border : 2px solid #06395a;
    background-color : #06f9f1;
   
}

.produit{
	padding: 0 6%;
	margin-top:5%;
}

.card .boutons{
    display: flex;
    gap: 30px;
}

.card .title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
}

#detail {
	
	color : white;
  font-family: Arial Black;
  width:130px;
  height : 40px;
	transition-duration: 0.5s;
	background-color: #06395a;
	border: 2px solid #06395a;
	border-radius: 45px;
}

#detail:hover{
	background-color: #fcbb00;
	border: 2px solid #fcbb00;
	cursor:pointer;
}

a{
	text-decoration:none;
	color:white;
}

.card .image img{
    width: 350px;
    height: 400px;
    /*object-fit: contain;*/
	border-radius : 20px;
   
}

.no_commandes{

margin-top:100px;
padding-bottom : 23%;
font-size:50px;
text-align:center;
width:100%;
}


.no_commandes button{
width : 150px;
height : 50px;
color : white;
  font-family: Arial Black;
  transition-duration: 0.5s;
	background-color: #06395a;
	border: 2px solid #06395a;
	border-radius: 45px;

}

.no_commandes button:hover{
	background-color: #fcbb00;
	border: 2px solid #fcbb00;
	cursor:pointer;
}

.paniervide{

margin-top:100px;
padding-bottom : 23%;
font-size:50px;
text-align:center;
width:100%;
}


#vide{

height : 50px;
color : white;
  font-family: Arial Black;
  width:150px;
	transition-duration: 0.5s;
	background-color: #06395a;
	border: 2px solid #06395a;
	border-radius: 45px;

}

#vide:hover{
	background-color: #fcbb00;
	border: 2px solid #fcbb00;
	cursor:pointer;
}
