@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{

    background-image:url(../images/detail.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
	  position: inherit;
    flex-direction:column;
	  display: flex;
	  margin:0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 10px;
    border : 2px solid black;
    margin-top:8%;
    width : 50%;
    margin-left:25%;
    background-color:#1AE2F9;
   
}

.card .image img{
    width: 400px;
    height: 400px;
    object-fit: contain;
    border-radius:20px;
   
}
.card .title{
    font-size: 20px;
    font-family : Poppins;
    margin-bottom: 10px;
    margin-top: -20px;
}

.card .categorie{
    font-size: 20px;
    font-family : Poppins;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card .stock{
    font-size: 20px;
    font-family : Poppins;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card .desc{
    padding-left:20px;
    padding-right:20px;
    font-family : Poppins;
    margin-bottom:20px;

}

.card .prix{
    font-size: 20px;
    margin-bottom: 10px;
    font-family : Poppins;
}

button{
 
  color : white;
  font-family: Arial Black;
  width:130px;
	transition-duration: 0.5s;
	background-color: #06395a;
	border: 2px solid #06395a;
	border-radius: 45px;
 height : 50px;
}


button:hover{
	background-color: #fcbb00;
	border: 2px solid #fcbb00;
	cursor:pointer;

}

.boutons {
display:flex;
gap:50px;

}

a{

text-decoration:none;
color : white;
font-family : Arial Black;
}

form{
font-family : Poppins;
margin-bottom: 20px;
font-size:20px;
gap : 20px;
display : flex;
}

input[type="number"]{
border-radius : 20px;
padding-left: 10px;
padding-right: 20px;
width : 80px;
height : 30px;

}

input[type="number"]:focus{
outline : none;
}

input[type="submit"]{

color : white;
border-radius : 20px;
width : 150px;
font-family: Arial Black;
height : 40px;
transition-duration: 0.5s;
background-color: #06395a;
border: 2px solid #06395a;
border-radius: 45px;

}

input[type="submit"]:hover{

background-color: green;
color : white;
border: 2px solid green;
cursor:pointer;
}



