html{
	margin: 0;
	height: 100%;
}
body{
    background-image:url(../images/fond_sous-marin.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
	height: auto;
	display:flex;
	flex-direction:column;
}
/*Panier CSS*/
.panier {
	display: flex;
	align-items: center;
	justify-content: center;
}
.panier img{
	width: 70px;
	padding: 8px 0;
}
section{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
	width: 60%;
	padding-bottom: 20%;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
}
table{
	width: 100%;
	border-collapse: collapse;
	letter-spacing: 1px;
	font-size: 13px;
	
}
th{
	padding: 10px 0;
	font-weight: 400;
	margin-left: 50px;
}
td{
	border-top: 0,5px;
}
