p {
    font-family: Arial, Verdana, sans-serif;
}
td{
  vertical-align: top;
  text-align: left;
  padding-top: 50px ;
  padding-right: 300px;
  font-size: 20px;
}
.table {
  /*margin-left: auto;
  margin-right: auto;*/
  position: relative;
  padding-left: 20%;
}
